<template>
  <n-layout embedded content-style="padding: 24px;">
    <h1>Quizez</h1>
    <n-grid x-gap="12" :cols="4">
      <n-gi>
        <router-link :to="{ name: 'quiz', params: { id: 'geo' } }">
          <n-card title="Geo Quiz"> Test your knowledge in geography </n-card>
        </router-link>
      </n-gi>
      <n-gi>
        <router-link :to="{ name: 'quiz', params: { id: 'js' } }">
          <n-card title="JS QUIZ"> Test your knowledge in JavaScript </n-card>
        </router-link>
      </n-gi>
    </n-grid>
  </n-layout>
</template>

<script setup>
import { NLayout, NGrid, NGi, NCard } from "naive-ui";
</script>
