<template>
  <DialogIntro @start-test="start" :promoText="p" />
  <div
    v-if="startQuiz"
    style="width: 80%; margin: 4rem auto"
    class="quiz_wrapper"
  >
    <div width="700px">
      <div style="display: flex; justify-content: space-between">
        <h3>Question {{ number_of_questions }} of {{ q.length - 1 }}</h3>
        <TimerButton style="margin-right: 3.5rem" :start-quiz="startQuiz" />
      </div>
      <n-progress
        type="line"
        :percentage="percentage"
        status="success"
        :indicator-placement="'inside'"
        style="margin-bottom: 16px"
      />
    </div>
    <div>
      <h2>{{ q[number_of_questions].question }}</h2>
      <n-radio-group
        v-model:value="answer"
        name="radiogroup"
        style="
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          height: 240px;
        "
      >
        <n-radio
          v-for="(option, index) in shuffleData"
          :key="index"
          :value="option"
          size="large"
          :disabled="isAnswered"
          :label="option"
          >{{ option }}</n-radio
        >
      </n-radio-group>
      <div class="mb-4">
        <n-button
          type="primary"
          style="margin-top: 40px; padding: 1.4rem 2rem"
          @click="setToNextQuestion"
          size="large"
          :disabled="showMark"
        >
          <template v-if="!showMark">
            {{ button_text }}
          </template>
          <template v-else>
            <IconCheck />
          </template>
        </n-button>
      </div>
    </div>
  </div>
  <DialogSuccess :visible="resultVisible" :questions="q" :result="result" />
</template>

<script setup>
import { NProgress, NRadioGroup, NRadio, NButton } from "naive-ui";
import geo_data from "../questions/geo.json";
import js_data from "../questions/js.json";
import { ref, watch, computed } from "vue";
import TimerButton from "../components/TimerButton.vue";
import { useRoute } from "vue-router";
import DialogSuccess from "../components/DialogSuccess.vue";
import DialogIntro from "../components/DialogIntro.vue";
import { IconCheck } from "@tabler/icons-vue";

const resultVisible = ref(false);
const route = useRoute();
const startQuiz = ref(false);
const isAnswered = ref(false);
let q, p;
if (route.params.id === "geo") {
  const { questions, promoText } = geo_data;
  q = questions;
  p = promoText;
} else if (route.params.id === "js") {
  const { questions, promoText } = js_data;
  q = questions;
  p = promoText;
}

const answers = ref([]);
const button_text = ref("answer");
const number_of_questions = ref(0);
const answer = ref("");
const result = ref(0);
const showMark = ref(false);
import shuffle from "lodash/shuffle";
const percentage = computed(() => {
  return (100 / q.length) * (number_of_questions.value + 1);
});
const shuffleData = ref("");

watch(
  number_of_questions,
  () => {
    shuffleData.value = shuffle(q[number_of_questions.value].options);
  },
  { deep: true, immediate: true }
);

function setToNextQuestion() {
  if (button_text.value === "answer") {
    showMark.value = true;
    setTimeout(() => {
      showMark.value = false;
      button_text.value = "next";
      isAnswered.value = true;
    }, 500);
  } else if (button_text.value === "next") {
    getAnswer();
  }
}

function start() {
  startQuiz.value = true;
}

function getAnswer() {
  if (number_of_questions.value == q.length - 1) {
    q.forEach((question, index) => {
      if (question.options[question.answerKey] === answers.value[index]) {
        result.value = result.value + 1;
      }
    });
    resultVisible.value = true;
    return;
  }
  answers.value.push(answer.value);
  number_of_questions.value++;
  answer.value = "";
  button_text.value = "answer";
  isAnswered.value = false;
}
</script>

<style>
.el-radio__inner {
  width: 22px !important;
  height: 22px !important;
}
.el-radio__label {
  font-size: 20px !important;
}
</style>
