<template>
  <n-modal :show="visible" width="50%">
    <n-card
      style="width: 600px"
      title="Result"
      :bordered="true"
      role="dialog"
      aria-modal="true"
    >
      <h3>
        You answered correctly in {{ result }} out of
        {{ questions.length - 1 }} cases
      </h3>
      <template #footer>
        <span class="dialog-footer">
          <n-button @click="goToMain">Go to home</n-button>
          <n-button type="primary" @click="tryAgain"> Try again </n-button>
        </span>
      </template>
    </n-card>
  </n-modal>
</template>

<script setup>
import { NModal, NCard, NButton } from "naive-ui";
import { ref } from "vue";
import { useRouter } from "vue-router";
const router = useRouter();

const props = defineProps({
  visible: {
    type: Boolean,
    default: false,
  },
  result: {
    type: Number,
    default: 0,
  },
  questions: {
    type: Array,
    default: () => [],
  },
});
const dialogVisible = ref(false);
function tryAgain() {
  window.location.reload();
}

function goToMain() {
  router.push("/");
  dialogVisible.value = false;
}
</script>

<style>
.dialog-footer {
  display: flex;
  justify-content: space-between;
}
</style>
