<template>
  <n-modal v-model:show="dialogVisible" width="50%">
    <n-card
      title="Welcome"
      :bordered="true"
      role="dialog"
      aria-modal="true"
      style="
        width: 80%;
        position: fixed;
        left: 10%;
        top: 100px;
        border-radius: 6px;
      "
    >
      <p style="font-size: 20px">
        {{ promoText }}
      </p>
      <template #footer>
        <span class="dialog-footer">
          <n-button
            type="primary"
            @click="
              $emits('startTest');
              dialogVisible = false;
            "
          >
            Start test
          </n-button>
        </span>
      </template>
    </n-card>
  </n-modal>
</template>

<script setup>
import { NModal, NCard, NButton } from "naive-ui";
import { ref } from "vue";
const dialogVisible = ref(true);
const $emits = defineEmits(["startTest"]);

const props = defineProps({
  promoText: {
    type: String,
    required: true,
  },
});
</script>

<style></style>
