<template>
  <n-button type="error" round size="large">
    <IconAlarm /> <span style="font-weight: bold">{{ timer }} </span>
  </n-button>
</template>

<script setup>
import { NButton } from "naive-ui";
import { ref, onMounted } from "vue";
import { IconAlarm } from "@tabler/icons-vue";
function fixZero(value) {
  if (value < 10) {
    return "0" + value;
  }
  return value;
}
const timer = ref("10:00");

const props = defineProps({
  startQuiz: {
    type: Boolean,
    default: false,
  },
});

const $emits = defineEmits(["gameOver"]);

let timer_watch = 600;
onMounted(() => {
  setInterval(() => {
    timer_watch--;
    if (timer_watch === 0) {
      alert("game over");
    }
    let minutes = Math.floor(timer_watch / 60);
    let seconds = timer_watch % 60;
    timer.value = `${fixZero(minutes)}:${fixZero(seconds)}`;
  }, 1000);
});

</script>
